<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Family name:</strong>
  <%= @person.family_name %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @person.postalcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>Town:</strong>
  <%= @person.town %>
</p>

<p>
  <strong>Banchi:</strong>
  <%= @person.banchi %>
</p>

<p>
  <strong>Tel sigai:</strong>
  <%= @person.tel_sigai %>
</p>

<p>
  <strong>Telsinai:</strong>
  <%= @person.telsinai %>
</p>

<p>
  <strong>Keitai:</strong>
  <%= @person.keitai %>
</p>

<p>
  <strong>Bikou:</strong>
  <%= @person.bikou %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @person.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @person.longitude %>
</p>

<p>
  <strong>Gmaps:</strong>
  <%= @person.gmaps %>
</p>

<p>
  <strong>Douki:</strong>
  <%= @person.douki %>
</p>

<p>
  <strong>Genki:</strong>
  <%= @person.genki %>
</p>

<p>
  <strong>Kouenkai:</strong>
  <%= @person.kouenkai %>
</p>

<p>
  <strong>Kihukin:</strong>
  <%= @person.kihukin %>
</p>

<p>
  <strong>Syoukai:</strong>
  <%= @person.syoukai_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @person.level %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
